.slide-1 {
    background-color: #fceae8;
}

.category-1 {
    background-color: #ffc107;
}

.category-2 {
    background-color: #198754;
}

.category-3 {
    background-color: #0d6efd;
}

.button {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}